<!DOCTYPE html>

<html>

<head>
  <title>Freezer</title>
  <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
  <div class='welcome-content'>
    <h1>Welcome to The Freezer!</h1>
    <img class='portrait' src='/img/lights.png'>
  </div>
</body>

</html>